.body{
    max-width: 1200;
}

.menu{
    height: 100px;
    display: flex;
    flex:auto;
    align-items: center;
    align-self:flex-end;
    align-content: flex-end;
}

ul{
    background-color: red;
}

h1{
    color: red;
}